body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 190px;
  height: 35px;
  /* font: bold 24px/31px pt_serif, arial, helvetica, sans-serif; */
  background: url('img/logo.svg');
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 0 13px;
}

.menu__item:last-child {
  padding-right: 0;
}

.main-section {
  display: flex;
  justify-content: space-between;
  margin-top: 93px;
}

.main-content {
  flex-direction: column;
  align-items: left;
}

.main-content__title {
  font-family: 'PT Serif', serif;
  font-size: 50px;
}

.main-content__description {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding-bottom: 23px;
}

.image-content__image {
  width: 100%;
}
