body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80.3%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 170px;
  padding-top: 32px;
}

.hamburger-menu {
  display: none;
}

.logo {
  position: relative;
  padding-top: 8px;
  padding-left: 52px;
  font: bold 24px/31px 'pt_serifbold', Arial, Helvetica, sans-serif;
}

@keyframes move {
  0% {
    transform: translate3d(0, -50px, 0);
  }
  50% {
    transform: translate3d(0, 10px, 0);
  }
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 48%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
  animation-name: move;
  animation-duration: 2.5s;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
  animation-name: move;
  animation-duration: 3s;
}

.menu {
  display: flex;
  align-items: center;
  padding-right: 12px;
  padding-top: 13px;
}

.menu__item {
  position: relative;
  margin-right: 27px;
  font: 500 18px/21px 'robotoregular', Arial, Helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item::before {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.menu__item:hover::before {
  visibility: visible;
}

.menu__item::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  visibility: visible;
  transform: scaleX(1);
}

.menu__item:last-child {
  margin-right: 0;
}

.main {
  padding: 5% 63% 100% 0;
  padding-left: 8px;
  background: top right no-repeat url(img/Pic1920.svg);
  background-position: 99.1% 0%;
}

.main__title {
  margin: 0 0 37px 0;
  padding: 3px 0 1px 0;
  font: 66px/85px 'pt_serifbold', Arial, Helvetica, sans-serif;
}

.main__title-text_highlight {
  background: #ECF3FF;
}

.main__description {
  margin: 0 22% 43px 0;
  font: 22px/26px 'robotoregular', Arial, Helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  padding: 17px 22px;
  width: 226px;
  font: 18px/21px 'robotoregular', Arial, Helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .8;
  color: #000;
}

@media (max-width: 1366px) {
  .hamburger-menu {
    display: none;
  }

  .logo {
    padding-top: 54px;
  }

  .menu__item {
    margin-right: 24px;
  }

  .menu:last-child {
    padding-right: 0;
  }

  .main {
    padding: 5% 44% 100% 0;
    background-size: 50%;
    background-position: top right;
  }

  .main__title {
    /* margin: 0 0 40px 0; */
    font: 50px/65px 'pt_serifbold', Arial, Helvetica, sans-serif;
  }

  .main__description {
    /* margin: 0 -100px 41px 0; */
    font: 18px/21px 'robotoregular', Arial, Helvetica, sans-serif;
  }

  .main__button {
    font: 14px/17px 'robotoregular', Arial, Helvetica, sans-serif;
    /* padding: 16px 21px;
    width: 209px; */
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    margin: auto;
    width: 88%;
  }

  .header {
    margin-bottom: 68px;
    padding-top: 8px;
  }

  .hamburger-menu {
    display: none;
  }

  .logo {
    padding-top: 40px;
  }

  .menu__item {
    position: relative;
    margin-right: 24px;
    font: 500 14px/17px 'robotoregular', Arial, Helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity .5s;
  }

  .menu:last-child {
    padding-right: 0;
  }

  .main {
    text-align: left;
    padding: 5% 64% 100% 0;
    background-size: 50%;
    background-position: top right;
  }

  .main__title {
    margin: 0 0 40px 0;
    font: 50px/65px 'pt_serifbold', Arial, Helvetica, sans-serif;
  }

  .main__description {
    margin: 0 -100px 41px 0;
    font: 18px/21px 'robotoregular', Arial, Helvetica, sans-serif;
  }

  .main__button {
    font: 14px/17px 'robotoregular', Arial, Helvetica, sans-serif;
    padding: 16px 21px;
    width: 209px;
    text-align: center;
  }
}

@media (max-width: 866px) {
  .main__title {
    margin-bottom: 40px;
    font: 30px/39px 'pt_serifbold', Arial, Helvetica, sans-serif;
  }

  .main__description {
    margin: 0 0 30px 0;
    padding: 0px 20px 0 0;
    font: 500 16px/19px 'robotoregular', Arial, Helvetica, sans-serif;
  }

  .main__button {
    font: 500 14px/16px 'robotoregular', Arial, Helvetica, sans-serif;
  }
}

@media (max-width: 650px) {
  .menu {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .header {
    margin-bottom: 10px;
    padding: 19px 0px;
  }

  .main {
    text-align: center;
    padding: 74% 0 0;
    background-size: 84%;
    background-position: top center;
    width: auto;
  }

  .main__title {
    margin-bottom: 32px;
    font: 30px/39px 'pt_serifbold', Arial, Helvetica, sans-serif;
    padding-top: 16px;
    padding-left: 7px;
  }

  .main__description {
    margin: 0 0 25px 0;
    padding: 0px 37px 0px 43px;
    font: 500 16px/19px 'robotoregular', Arial, Helvetica, sans-serif;
    letter-spacing: 0.1px;
  }

  .main__button {
    padding: 14px 0px;
    font: 500 14px/16px 'robotoregular', Arial, Helvetica, sans-serif;
  }

  .logo-text {
    display: none;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 38px;
    right: 24px;
    width: 25px;
    height: 3px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0056EC;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0 -1px;
    padding: 185px 0;
    list-style: none;
    text-align: center;
    background-color: #FFF;
  }

  .menu__item {
    display: inline-block;
    margin-bottom: 25px;
    color: #333;
    font: 500 30px/35px 'robotoregular', Arial, Helvetica, sans-serif;
    text-decoration: none;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    transition-duration: .25s;
  }
  .menu__box {
    transition-duration: .25s;
  }
  .menu__item {
    transition-duration: .25s;
  }
}
